html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrap {
    width: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fef7df;
}

.loading-inner {
    text-align: center;
}

.alltime{
    text-align: center;
}



/* CSSの中身 */
#canvas {
    position: relative;
    top: 10;
    left: 0;

    border: solid 1px hsl(0, 0%, 4%);
    z-index: 10;
}


.loading-inner button {
    width: auto;
    padding: 1em 1em 1em;
    font-size: 13px;
    font-weight: bold;
    background: #fbdb73;
    border-radius: 20%;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.loading-inner button:active {
    box-shadow: none;
    transform: translateY(5px);
}




.write_order {
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 2;
}

.hidden {
    display: none;
}

.flower {
    width: 200px;
    /* 画像の幅 */
    height: 200px;
    /* 画像の高さを自動調整 */
    margin: 10px 0 42px;
    filter: blur(10px);
    border-radius: 50%;
}