html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff7db;
    
}


.loading-inner {
    text-align: center;
}


.button {
    font-size: 18px;
    text-decoration: none;
}

.button1 {
    background-color: #dcabe2;

    border-radius: 5px;
    padding: 10px 10px;
    text-decoration: none;

}


.c {
    text-align: center;
    justify-content: center;
}
.c button{
    width: auto;
    margin:50px;
    padding: 1em 1em 1em;
    font-size: 13px;
    font-weight: bold;
    background: #fbdb73;
    border-radius: 20%;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
.c button:active{
    box-shadow: none;
    transform: translateY(5px);
}

.c h1{
    text-align: center;
    justify-content: center;
}




.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_wrap {
    display: flex;
}

.img_wrap img {
    margin:10px auto;
    width: 70px;
    height: 70px;
    
    overflow: hidden;
    transform: scale(1);
    cursor: pointer;
    border: black;

    transition-duration: 1s;
    border-radius: 50%;
    filter: blur(6px);

}

.img_wrap img:hover {
    transform: scale(1.1) rotate(360deg);
    /* マウスオーバー時に回転 */
    transition-duration: 3s;
}


